@font-face {
  font-family: "LucidaSans";
  src: url("/assets/fonts/LucidaSans.eot");
  src: url("/assets/fonts/LucidaSans.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/LucidaSans.woff2") format("woff2"),
  url("/assets/fonts/LucidaSans.woff") format("woff"),
  url("/assets/fonts/LucidaSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SegoeWP";
  src: url("/assets/fonts/SegoeWP.eot");
  src: url("/assets/fonts/SegoeWP.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/SegoeWP.woff2") format("woff2"),
  url("/assets/fonts/SegoeWP.woff") format("woff"),
  url("/assets/fonts/SegoeWP.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LucidaSans-Italic";
  src: url("/assets/fonts/LucidaSans-Italic.eot");
  src: url("/assets/fonts/LucidaSans-Italic.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/LucidaSans-Italic.woff2") format("woff2"),
  url("/assets/fonts/LucidaSans-Italic.woff") format("woff"),
  url("/assets/fonts/LucidaSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Asap-Regular";
  src: url("/assets/fonts/Asap-Regular.eot");
  src: url("/assets/fonts/Asap-Regular.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/Asap-Regular.woff2") format("woff2"),
  url("/assets/fonts/Asap-Regular.woff") format("woff"),
  url("/assets/fonts/Asap-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SegoeWP-Light";
  src: url("/assets/fonts/SegoeWP-Light.eot");
  src: url("/assets/fonts/SegoeWP-Light.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/SegoeWP-Light.woff2") format("woff2"),
  url("/assets/fonts/SegoeWP-Light.woff") format("woff"),
  url("/assets/fonts/SegoeWP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Caption";
  src: url("/assets/fonts/ptsans/PTSans-CaptionBold.eot");
  src: url("/assets/fonts/ptsans/PTSans-CaptionBold.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/ptsans/PTSans-CaptionBold.woff2") format("woff2"),
  url("/assets/fonts/ptsans/PTSans-CaptionBold.woff") format("woff"),
  url("/assets/fonts/ptsans/PTSans-CaptionBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-NarrowBold";
  src: url("/assets/fonts/ptsans/PTSans-NarrowBold.eot");
  src: url("/assets/fonts/ptsans/PTSans-NarrowBold.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/ptsans/PTSans-NarrowBold.woff2") format("woff2"),
  url("/assets/fonts/ptsans/PTSans-NarrowBold.woff") format("woff"),
  url("/assets/fonts/ptsans/PTSans-NarrowBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Caption";
  src: url("/assets/fonts/ptsans/PTSans-Caption.eot");
  src: url("/assets/fonts/ptsans/PTSans-Caption.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/ptsans/PTSans-Caption.woff2") format("woff2"),
  url("/assets/fonts/ptsans/PTSans-Caption.woff") format("woff"),
  url("/assets/fonts/ptsans/PTSans-Caption.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("/assets/fonts/ptsans/PTSans-BoldItalic.eot");
  src: url("/assets/fonts/ptsans/PTSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/ptsans/PTSans-BoldItalic.woff2") format("woff2"),
  url("/assets/fonts/ptsans/PTSans-BoldItalic.woff") format("woff"),
  url("/assets/fonts/ptsans/PTSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: url("/assets/fonts/ptsans/PTSans-Bold.eot");
  src: url("/assets/fonts/ptsans/PTSans-Bold.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/ptsans/PTSans-Bold.woff2") format("woff2"),
  url("/assets/fonts/ptsans/PTSans-Bold.woff") format("woff"),
  url("/assets/fonts/ptsans/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-Regular";
  src: url("/assets/fonts/ptsans/PTSans-Regular.eot");
  src: url("/assets/fonts/ptsans/PTSans-Regular.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/ptsans/PTSans-Regular.woff2") format("woff2"),
  url("/assets/fonts/ptsans/PTSans-Regular.woff") format("woff"),
  url("/assets/fonts/ptsans/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans Narrow";
  src: url("/assets/fonts/ptsans/PTSans-Narrow.eot");
  src: url("/assets/fonts/ptsans/PTSans-Narrow.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/ptsans/PTSans-Narrow.woff2") format("woff2"),
  url("/assets/fonts/ptsans/PTSans-Narrow.woff") format("woff"),
  url("/assets/fonts/ptsans/PTSans-Narrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("/assets/fonts/ptsans/PTSans-Italic.eot");
  src: url("/assets/fonts/ptsans/PTSans-Italic.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/ptsans/PTSans-Italic.woff2") format("woff2"),
  url("/assets/fonts/ptsans/PTSans-Italic.woff") format("woff"),
  url("/assets/fonts/ptsans/PTSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SegoeUI-Bold";
  src: url("/assets/fonts/SegoeUI-BoldItalic.eot");
  src: url("/assets/fonts/SegoeUI-BoldItalic.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/SegoeUI-BoldItalic.woff2") format("woff2"),
  url("/assets/fonts/SegoeUI-BoldItalic.woff") format("woff"),
  url("/assets/fonts/SegoeUI-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SegoeUI";
  src: url("/assets/fonts/SegoeUI-Bold.eot");
  src: url("/assets/fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/SegoeUI-Bold.woff2") format("woff2"),
  url("/assets/fonts/SegoeUI-Bold.woff") format("woff"),
  url("/assets/fonts/SegoeUI-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/assets/fonts/SegoeUI-Italic.eot");
  src: url("/assets/fonts/SegoeUI-Italic.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/SegoeUI-Italic.woff2") format("woff2"),
  url("/assets/fonts/SegoeUI-Italic.woff") format("woff"),
  url("/assets/fonts/SegoeUI-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/assets/fonts/SegoeUI.eot");
  src: url("/assets/fonts/SegoeUI.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/SegoeUI.woff2") format("woff2"),
  url("/assets/fonts/SegoeUI.woff") format("woff"),
  url("/assets/fonts/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI-Light";
  src: url("/assets/fonts/SegoeUI-Light.eot");
  src: url("/assets/fonts/SegoeUI-Light.eot?#iefix") format("embedded-opentype"),
  url("/assets/fonts/SegoeUI-Light.woff2") format("woff2"),
  url("/assets/fonts/SegoeUI-Light.woff") format("woff"),
  url("/assets/fonts/SegoeUI-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: local("Open Sans"), local("OpenSans"),
  url("/assets/fonts/open-sans/opensans.woff2") format("woff2"),
  url("/assets/fonts/open-sans/opensans.woff") format("woff"),
  url("/assets/fonts/open-sans/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
  
/*header*/

body {
  width: 1300px;
  margin: 0 auto;
  }

.background-wrapper {
  background-image: url("/assets/images/Layer\ 20@1X.png");
  height: 566px;  
}

header {
  height: 180px;
}

.title-wrapper {
  display: flex;
}

.flex-item {
  align-items: center;
}

.logo-wrapper {
  display: flex;
  margin-left: 150px;
  margin-top: 30px;
}

.img-logo-wrapper {
  position: relative;
  width: 80px;
  height: 80px;  
}

.logo-main {
  position: absolute;
  opacity: 0.8;
}

.logo {
  position: absolute;
}

h1 {
  font-family: LucidaSans-Italic, AdobeInvisFont, MyriadPro-Regular;
  font-size: 31pt;
  color: #ffffff;
  text-transform: uppercase;
}

.section-title {
  text-transform: uppercase;
  position: absolute;
  top: 60px;
  left: 750px;
  letter-spacing: -1px;
  text-align: center;
  font-family: Asap-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 53pt;
}

.yellow {
  color: #f5c506;
}

.white {
  color: #ffffff;
}

.slider-navigation {
  position: relative; 
}

nav {
    display: inline;
  }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  font-family: SegoeWP, AdobeInvisFont, MyriadPro-Regular;
  color: #9B7D08;
  font-size: 17px;
  margin-left: 5px; 
  line-height: 40px;
}

li {
  vertical-align: top;
  width: 30%;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center top;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #4b483a;
}

.site-navigation-wrapper{
  display: flex;
  float: left;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: #f5c506;;
  width: 453px;
  height: 41px;
  margin-top: 53px;
  margin-left: 130px;
  box-shadow: -4px -5px 0 #f5c50645,
    -8px -8px 0 #f5c50645;
}

.site-navigation {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-family: SegoeWP, AdobeInvisFont, MyriadPro-Regular;
  font-size: 17.04912pt;
  color: #9B7D08;
  text-align: center;
}

.about-us:before {
  content: url("/assets/images/Shape\ 5@1X.png");
}

.services {
  border-left: 1px solid #b99403;
  border-right: 1px solid #b99403;
}

.services:before {
  content: url("/assets/images/Shape\ 6@1X.png");
}

.contact:before {
  content: url("/assets/images/Shape\ 7@1X.png");
}

.slider-navigation-wrapper-item {
  position: absolute;
  top: 120px;

}
.slider-navigation-wrapper {
  position: relative;
}

.slider-navigation {
  position: relative;
  width: 100%;
}

.slider-navigation-arrow {
  position: absolute;
  border: none;
  width: 32px;
  height: 57px;
}

.slider-nav-btn {
  position: absolute;
}

.slider-nav-btn-left {
  position: absolute;
  padding-left: 10px;
  padding-top: 17px;
  transform: translateY(90deg);
}

.slider-nav-btn-right {
  position: absolute;
  padding-left: 10px;
  padding-top: 17px;
}

/* video */

.main-video {
  width: 549px;
  height: 327px;
  margin-left: 150px;
}

.video-play-button {
  position: relative;
}

.play-btn {
  position: relative;
  opacity: 0.6;
}

.play-btn-item {
  position: absolute;
  left: 25px;
  top: 14px;
  opacity: 0.6;
}

.play-button {
  position: relative;
  left: 350px;
  top: -209px;
}

.video-button {
  position: absolute;
  left: 150px;
  top: -120px;
}

.square-play-button {
  position: relative;
}

.square-video-btn {
  position: relative;
  opacity: 0.6;
}

.square-video-btn-item {
  position: absolute;
  opacity: 0.6;
  left: 9px;
  top: 5px;
}

/* scroll-bar */

.scroll-bar-wrapper {
  position: absolute;
  left: 200px;
  bottom: 115px;
}

.scroll-bar {
  position: relative;
}

.scroll-bar-bold-line {
  position: absolute;
  height: 10px;
  width: 150px;
  border-radius: 20px;
}

.scroll-bar-line {
  position: absolute;
}

.sound {
  position: absolute;
  left: 420px;
  opacity: 0.7;
}

.slider-navigation-wrapper-right-item {
  position: absolute;
  right: 33px;
  top: 100px;
}

/* line */

.line {
  margin-top: -10px;
}

/* feature-block */

.feature-wrapper {
  background-image: url(/assets/images/Layer\ 7@1X.png);
  width: 100%;
  height: 212px;
}

.feature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  font-family: SegoeUI-Light,AdobeInvisFont,MyriadPro-Regular;
  font-size: 27pt;
  color: #000000;
  text-align: center;
}  

.feature-item {
  vertical-align: stretch;
}

.feature p{
  text-align: center;
  width: 30%;
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  text-transform: uppercase;
}
  
.better-design {
  background-image: url("/assets/images/Shape\ 2@1X.png");
  padding: 100px 0 0 0;
}

.better-design, .its-free {
  border-left: 1px solid #b99403;
  border-right: 1px solid #b99403;
}

.castomize {
  background-image: url("/assets/images/Shape\ 3@1X.png");
  padding: 100px 0 0 0;
}

.its-free {
  background-image: url("/assets/images/Shape\ 4@1X.png");
  padding: 100px 0 0 0;
}

/* twitter-block */

.social-block {
  background-image: url("/assets/images/yellow-container.svg");
  height: 509px;
}

.block-wrapper {
  width: 1021px;
  margin: 0 auto;
}

h3 {
  font-family: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 37.04912pt;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  padding: 63px 0;

}

.social-text-container {
  background-image: url(/assets/images/Layer\ 22@1X.png);
  width: 351px;
  height: 233px;
}

.social-text {
  
  font-family: SegoeWP-Light, AdobeInvisFont, MyriadPro-Regular;
  letter-spacing: 0.7;
  font-size: 29pt;
  color: #ffffff;
  text-align: left;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.social-text-video {
  width: 315px;
  height: 233px;
}

.social-text-video-window {
  height: 100%;
}

.small-button-wrapper {
  position: relative;
}

.social-text-video-window-button {
  position: absolute;
  left: 128px;
  bottom: 90px;
  opacity: 0.6;
}

.social-text-video-window-item {
  position: absolute;
  left: 152px;
  bottom: 102px;
  opacity: 0.6;
}

.twitter-item {
  display: none;
  font-family: ArialMT, AdobeInvisFont, MyriadPro-Regular;
  font-size: 13pt;
  color: #8f8e8e;
  text-align: left;
}

.social-flex-wrapper {
  display: flex;
  position: relative;
}

.twitter-bird {
  background-image: url("/assets/images/Layer\ 22\ copy\ 3@1X.png");
  width: 329px;
  height: 233px;
  margin-left: 50px;
}

.date {
  font-family: SegoeWP-Light, AdobeInvisFont, MyriadPro-Regular;
  font-size: 25px;
  color: #FFFFFF;
}

.social-block-line {
  position: absolute;
}

.social-block-full-line {
  position: absolute;
  bottom: -35px;
  left: 50px;
}

.social-block-bold-line {
  position: relative;
  bottom: -37px;
  left: 420px;
}

/* calendar */

.calendar {
  width: 113px;
  height: 86px;
}

.calendar-day {
  font-family: SegoeUI-Bold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 51px;
  color: #FFFFFF;
}

.calendar-month {
  font-family: SegoeUI, AdobeInvisFont, MyriadPro-Regular;
  font-size: 21px;
  color: #B26529;
}

/* device */

.device-background {
  background-image: url("/assets/images/Layer\ 32@1X.png");
}

.device-block-wrapper {
  width: 100%;
  height: 509px;
}

h2 {
  font-family: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 43pt;
  color: #f5c506;
  text-align: left;
  text-transform: uppercase;
  padding-top: 63px;
}

.device-item-and-list {
  display: flex;
  align-items: flex-end;
}

.device-item {
  flex-direction: row;
}

.device {
  height: 499px;
}

.device-list-item {
  width: 100%;
  font-family: OpenSans, AdobeInvisFont, MyriadPro-Regular;
  font-size: 16pt;
  color: #A9A9A7;
  padding: 0 0 20px 0;
}

.device-list-item::before {
  content: url("/assets/images/Ellipse_4.png")
}

.free-round {
  position: relative;
}

.free-yellow-round {
  position: absolute;
}

.it-s-free {
  position: absolute;
  top: 48px;
  left: 10px;
  font-family: PTSans-NarrowBold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 14pt;
  color: #ffffff;
  text-transform: uppercase;
}

/* footer */

footer {
  height: 64px;
  background-image: url(/assets/images/Layer\ 31@1X.png);
  }
  
.footer-logo-text {
  font-family: LucidaSans-Italic, AdobeInvisFont, MyriadPro-Regular;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 15px;
}

.footer-title-wrapper {
  display: flex;
}

.footer-flex-item {
  align-items: center;
}

.footer-logo-wrapper {
  display: flex;
}

.footer-img-logo-wrapper {
  position: relative;
  width: 54px;
  height: 54px;  
}

.footer-logo-main {
  position: absolute;
  width: 100%;
  opacity: 0.8;
}

.footer-logo {
  position: absolute;
  width: 100%;
}